<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Company</title>

    <script src="js-libs/jquery-3.5.1.js"></script>
    <script src="js-libs/dataTables.bootstrap5.min.js"></script>
    <script src="js-libs/jquery.dataTables.min.js"></script>
    <script src="javascripts/global.js"></script>


    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="stylesheets/global.css" rel="stylesheet">

    <script>
        document.onreadystatechange = () => {
            document.getElementById("my-alert").style.display = "none";
            document.getElementsByClassName("loader-container")[0].style.display = "none";
            document.getElementById("company").classList.add('active');
        };
        function save() {
            var can_add=true;
            if(document.getElementById("name-i").value==""){
                can_add=false;
                color_red("name-l");
            }else{
                color_black("name-l");
            }
            var active = 0;
            if(document.getElementById("active-i").checked){
               active=1;
            }

            if(can_add){
                document.getElementsByClassName("loader-container")[0].style.display = "flex";
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    "name":document.getElementById("name-i").value,
                    "is_active":active,
                    "id":document.getElementById("name-i").getAttribute("data-id"),
                });

                var requestOptions = {
                    method: 'PUT',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                fetch(location.protocol+'//' + location.host +"/api/company", requestOptions)
                    .then(response => {
                        if(response.status==200){
                            document.getElementsByClassName("loader-container")[0].style.display = "none";
                            window.location = '/company';
                        }else{

                            response.text().then(result=>{
                                document.getElementsByClassName("loader-container")[0].style.display = "none";
                                document.getElementById("my-alert").innerText = result;
                                document.getElementById("my-alert").style.display = "block";
                                document.getElementById('my-alert').scrollIntoView();
                            })
                        }
                    })
                    .catch(error => {
                        document.getElementsByClassName("loader-container")[0].style.display = "none";
                        document.getElementById("my-alert").innerText = "some thing went wrong";
                        document.getElementById("my-alert").style.display = "block";
                        document.getElementById('my-alert').scrollIntoView();
                    });
            }
        }
    </script>


</head>
<body>
<% include spiner.html%>
<div class="my-container">
    <div class="left-side">
        <% include admin_side_bar.html %>
    </div>
    <div class="right-side">
        <div id="my-alert" class="alert alert-danger" role="alert">

        </div>
        <div class="btn-container">
            <a class="cancel-btn" href="javascript:history.back()">cancel</a>
            <span class="submit-btn" onclick="save()">save</span>
        </div>
        <div class="dt-container">
            <label class="form-label" id="name-l">Name</label>
            <input data-id="<%=data.id%>" class="form-control" type="text" value="<%=data.name%>" id="name-i"/>
            <br>
            <br>

            <label class="form-label" id="active-l">Active</label>
            <%if(data.is_active==1){%>
                <input type="checkbox" style="margin-left: 10px;" id="active-i" checked/>
                <%}else{%>
                    <input type="checkbox" style="margin-left: 10px;" id="active-i"/>
                <%}%>
           
          
        </div>
    </div>
</div>



</body>
</html>